Here is the {{ title }}
<br />
1 + 2 = {{ 1+2 }}
<br />

<!-- <form>
  <input type="text" name="title" ([ngModel])="title" />
  <button type="submit">BTN</button>
</form> -->
<button type="button" (click)="onClickBtn()">Click</button>

<ul>
  <li *ngFor="let person of people">{{ person }}</li>
</ul>
<ul>
  <li *ngFor="let student of students">{{ student.name }} {{ student.gpa }} {{ student.course }}</li>
</ul>

<div *ngIf="showHidden"> hidden </div>

<select>
  <option *ngFor="let s of students">{{ s.name }}</option>
</select>
<br />
{{ 123 | currency }}
<br />
{{ 123.127 | currency:"ASDF" }}
<br />
{{ dd | date: "MMM dd" }}
<br />
{{ "Maharishi international uni" | uppercase }}
<br />
{{ 123.45678 | number: "1.10-20" }}